header {
    padding: 3px 0;
    .bg-light {
        background-color: #0b0b0d !important;
        padding: 6px 0;
    }
    .navbar-expand-lg .navbar-nav {
        float: initial !important;
    }
    .navbar-brand {
        padding: 0 10px;
        margin-right: 0;
    }
    .nav-item{
        padding-right: 40px;
    }
    .menu,
    .navbar-brand,
    .navbar-toggler {
        img {
            max-width: 80%;
            cursor: pointer;
        }
    }
    .nav-link{
        color: whitesmoke;
        font-size: 15px;
    }
    .form-inline {
        ::placeholder{
            color: whitesmoke;
        }
        float: left;
        padding-top: 4px;
        display: flex;
        .search {
            position: relative;
            display: flex;
            .form-control {
                border-radius: 20px;
                background-color: #2a2a2a;
                display: flex;
                border: 0;
                padding-right: 40px;
                width: 270px;
                color: white;
                font-weight: bold;
            }
            .fa-search{
                margin-top: 10px;
                position: relative;
                right: 15%;
                color: whitesmoke;
            }
            .form-control:focus {
                border: 0;
                box-shadow: none;
            }
            fa-icon {
                position: absolute;
                right: 10px;
                padding: 0.4rem 0.75rem;
                cursor: pointer;
            }
        }
    }
    .navbar-light .navbar-nav {
        margin: auto;
        .nav-link {
            color: #fff;
            font-size: 15px;
            padding: 9px 30px;
            font-weight: 600;
        }
        .nav-link:hover {
            color: #4ccff7;
        }
    }
    .profile {
        text-align: right;
        .bell {
            position: relative;
            padding: -1px 10px;
            .red-dot {
                position: absolute;
                width: 8px;
                height: 8px;
                background: red;
                border-radius: 50%;
                right: 2px;
                top: -3px;
            }
        }
        .profile-pic {
            padding: 0 10px;
            img {
                max-width: 40px;
                border-radius: 50%;
                height: 35px;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .form-inline {
        float: left;
        padding-top: 4px;
        .search {
            position: relative;
            .form-control {
                padding-left: 40px;
                width: 170px !important;
            }
        }
    }
    header .navbar-light .navbar-nav .nav-link {
        padding: 9px;
    }
}

@media only screen and (min-width: 992px) {
    header .navbar-expand-lg .navbar-collapse {
        flex-direction: row;
        justify-content: center;
    }
}

@media only screen and (max-width: 991px) {
    header {
        .menu {
            display: none;
        }
    }
}

@media only screen and (max-width: 992px) {
    header .navbar-expand-lg .navbar-nav {
        float: none !important;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    header {
        .navbar-brand {
            padding: 0 10px;
            margin-right: 0;
            margin-left: -220px !important;
        }
        .form-inline {
            .search {
                position: relative;
                .form-control {
                    display: flex;
                }
            }
        }
        .profile {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 767px) {
    header {
        .navbar-brand {
            padding: 0 10px;
            margin-right: 0;
            margin-left: -17px !important;
        }
        .form-inline {
            .search {
                position: relative;
                .form-control {
                    display: flex;
                }
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    .form-inline .search {
        display: none !important;
    }
}

@media only screen and (max-width: 375px) {
    .navbar-light .navbar-brand {
        width: 200px;
    }
}

@media only screen and (max-width: 320px) {
    .navbar-light .navbar-brand {
        width: 180px;
    }
}
