<nav class="navbar navbar-expand-lg" id="header">
    <a class="navbar-brand" href="#header">
        <img src="../../assets/images/menu.png" class="logo img-fluid">
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <div id="navbarContent" class='collapse navbar-collapse'>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" target="_self">
                    <h4>REELVILLE</h4>
                </a>
            </li>
            <li class="nav-item">
                <form class="navbar-form navbar-left">
                    <div class="input-group mb-3 searchbox">
                        <input type="text" class="search-box" placeholder="Search" #searchInput>
                        <div class="input-group-append search-icon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </div>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link active" target="_self">
                    Post
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_self">
                    Options
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_self">
                    Top Videos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_self">
                    Talent
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_self">
                    Connect Now
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_self">
                    Broadcast
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link">
                    <i class="fas fa-bell fa-4x"></i><span class="sec counter counter-lg"></span>
                </a>
            </li> -->
        </ul>
    </div>
</nav>