<nav class="navbar navbar-expand-lg" id="header">
    <a class="navbar-brand" class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent">
        <img src="../../assets/images/menu.png" class="logo img-fluid">
    </a>
    <li class="nav-item li">
        <a class="nav-link active" target="_self">
            <h4>REELVILLE</h4>
        </a>
    </li>
    <li class="nav-item li1">
        <form class="navbar-form navbar-left">
            <div class="input-group mb-3 searchbox">
                <input type="text" class="search-box" placeholder="Search" #searchInput>
                <div class="input-group-append search-icon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>
        </form>
    </li>
    <div id="navbarContent" class='collapse navbar-collapse'>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" target="_self">
                    Post
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_self">
                    Options
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_self">
                    Top Videos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_self">
                    Talent
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_self">
                    Connect Now
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_self">
                    Broadcast
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="fa fa-bell" style="font-size:36px;color:white"></i><span class="sec counter counter-lg dot"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <img src="../../assets/images/profile.jpg" alt="Avatar" class="profile">
                </a>
            </li>
        </ul>
    </div>
</nav>