<video id="plyrID" playsinline controls>
    <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerFun.mp4" type="video/mp4" />
</video>
<div class="container">
    <div class="row name">
        <div class="column">
            <img src="../../assets/images/profile.jpg" alt="Avatar" class="profile">
        </div>
        <div class="column">
            <span><h3><b>Money Heist (Official Video)</b></h3></span>
        </div>
    </div>
    <div class="row">
        <p>782,380 views&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Premiered on 23 Feb 2021</p>
    </div>
    <div class="row">
        <div class="column">
            <button type='button' class="btn btn-priamry">Add To Favourities</button>
        </div>
        <div class="column">
            <button type='button' class="btn btn-default">Opinion</button>
        </div>
        <div class="column"></div>
        <div class="column"></div>
    </div>
</div>