#player {
    width: -webkit-fill-available;
}

.profile {
    border-radius: 50%;
    height: 60px;
}

.name {
    padding: 35px;
}

h3 {
    color: whitesmoke;
    position: relative;
    left: 10%;
    top: 20%;
}

.column {
    float: left;
    width: auto;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

p {
    color: whitesmoke;
    position: relative;
    left: 4%;
}

.btn-priamry {
    background-color: aquamarine;
    border-radius: 25px;
    position: relative;
    left: 20%;
}

.btn-default {
    position: relative;
    left: 60%;
    border-radius: 25px;
    background-color: whitesmoke;
}