<main>
    <video id="plyrID" playsinline controls poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg">
        <source [src]="url" type="video/mp4" />
    </video>
    <app-video-info></app-video-info>
    <div class="video-section">
        <div class="sec-head">
            <div class="head-txt">
                <div class="pipe"></div>
                <h2>Top Videos/Random Videos</h2>
            </div>
            <div class="link">
                <span class="car-nav">
                    <span class="left">
                        <img src="../../assets/images/left-arrow.png" alt="" class="prev" (click)="owl.prev()">
                    </span>
                    <span class="right">
                        <img src="../../assets/images/right-arrow.png" alt="" class="prev" (click)="owl.next()">
                    </span>
                </span>
                <span class="see-all"> See all </span>
            </div>
        </div>
        <owl-carousel-o [options]="customOptions" #owl>
            <ng-container *ngFor="let data of videoList;let i=index">
                <ng-template carouselSlide>
                    <div class="slide">
                        <div class="image">
                            <span (click)="passURL(data.url)">
                                <video [src]="data.url" class="pointer" [poster]="data.imagePreview" (mouseenter)="mouseEnter(i,'video')"
                                    (mouseleave)="mouseLeave(i,'video')">
                                </video>
                            </span>
                            <span class="bottom-left">
                                <img src="assets/images/profile.jpg">
                            </span>
                        </div>
                        <div class="details">
                            <div class="head">
                                <h3>{{data.title}}</h3>
                            </div>
                            <div class="name">
                                {{data.title}}
                            </div>
                            <div class="more-info">
                                <span class="views"> {{data.views}} views </span>
                                <span class="pipe"> | </span>
                                <span class="date"> {{data.date}} </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
    <div class="video-section">
        <div class="sec-head">
            <div class="head-txt">
                <div class="pipe"></div>
                <h2>Opinion Videos</h2>
            </div>
            <div class="link">
                <span class="car-nav">
                    <span class="left">
                        <img src="../../assets/images/left-arrow.png" alt="" class="prev" (click)="owl.prev()">
                    </span>
                    <span class="right">
                        <img src="../../assets/images/right-arrow.png" alt="" class="prev" (click)="owl.next()">
                    </span>
                </span>
                <span class="see-all" routerlink="['']"> See all </span>
            </div>
        </div>
        <owl-carousel-o [options]="customOptions1" #owl1>
            <ng-container *ngFor="let data of VideoList;let i=index">
                <ng-template carouselSlide>
                    <div class="slide">
                        <div class="image">
                            <span (click)="passURL(data.url)">
                                <video [src]="data.url" class="pointer" width="200" height="120" [poster]="data.imagePreview"
                                    class="videoPlayListOne{{i}}" (mouseenter)="mouseEnter(i,'Video')"
                                    (mouseleave)="mouseLeave(i,'Video')">
                                </video>
                            </span>
                            <span class="bottom-left">
                                <img src="assets/images/profile.jpg" alt="Debut Infotech">
                            </span>
                        </div>
                        <div class="details">
                            <div class="head">
                                <h3>{{data.title}}</h3>
                            </div>
                            <div class="name">
                                {{data.title}}
                            </div>
                            <div class="more-info">
                                <span class="views"> {{data.views}} views </span>
                                <span class="pipe"> | </span>
                                <span class="date"> {{data.date}} </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</main>