main {
    margin-bottom: 10px;
    .video-section {
        position: relative;
        .sec-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 10px;
            .pipe {
                margin: 0;
                margin-right: 20px;
                height: 2.5rem;
                border: 3px solid #49c6ed;
                border-radius: 3px;
            }
            .head-txt {
                float: left;
                display: flex;
                h2 {
                    font-weight: 500;
                    font-size: 28px;
                    margin: 0;
                }
            }
            .link {
                float: right;
                .see-all {
                    border-radius: 30px;
                    border: 2px solid #6e6e70;
                    padding: 10px 20px;
                    cursor: pointer;
                    color: #c1c1c2;
                }
                .car-nav {
                    margin-right: 20px;
                    span {
                        padding: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
        h2 {
            color: whitesmoke;
        }
    }
    @media only screen and (max-width: 768px) {
        .heading p {
            padding-left: 10px;
            font-size: 26px;
        }
        .options {
            span {
                border-radius: 20px;
                border: 2px solid;
                padding: 10px 15px;
                margin-right: 20px;
                cursor: pointer;
            }
        }
    }
    @media screen and (max-width: 600px) {
        .video-section {
            .sec-head {
                .head-txt {
                    flex: calc(100% - 100px);
                    h2 {
                        font-size: 20px;
                    }
                }
                hr {
                    margin-right: 8px;
                    border: 2px solid #1cbfff;
                }
                .link {
                    margin: 0;
                    .see-all {
                        padding: 5px 10px;
                    }
                    .car-nav {
                        display: none;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 600px) {
        ::ng-deep {
            .plyr {
                .plyr__controls {
                    max-width: calc(100% - 50px);
                }
            }
        }
        ::ng-deep {
            .slide {
                margin: 0 7px;
            }
        }
    }
    video {
        height: 85vh;
    }

    @media only screen and (min-width: 480px) {
        ::ng-deep {
            .plyr {
                .plyr__controls {
                    padding: var(--plyr-control-spacing, 10px) !important;
                    padding-top: calc(var(--plyr-control-spacing, 10px) * 3.5) !important;
                }
            }
        }
    }

    ::ng-deep {
        label {
            margin-bottom: 0px;
        }
        .plyr {
            border-radius: 4px;
            margin-bottom: 15px;
        }
        .plyr--video .plyr__controls {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            text-align: center;
            z-index: 3;
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
            position: absolute;
            left: 0;
            right: 0;
        }
        .title {
            position: absolute;
            top: 0;
            left: 0;
            color: #fff;
            padding: 20px;
        }
        .plyr__video-wrapper .plyr__poster {
            background-size: cover !important;
            width: 100% !important;
        }
        .plyr--hide-controls .title {
            opacity: 0;
            pointer-events: none;
        }
        .plyr--hide-controls .button {
            opacity: 0;
            pointer-events: none;
        }
        .plyr__controls {
            justify-content: flex-start !important;
        }
        .left-arrow {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 2%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            color: #fff;
            font-size: 2rem;
            z-index: 999;
        }
        .right-arrow {
            margin: 0;
            position: absolute;
            top: 50%;
            right: 2%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            color: #fff;
            font-size: 2rem;
            z-index: 999;
        }
        .down-arrow {
            margin: 0;
            position: absolute;
            bottom: 15%;
            left: 50%;
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            color: #fff;
            font-size: 2rem;
            z-index: 999;
        }
        .plyr__time + .plyr__time:before {
            content: "" !important;
        }
        .plyr__progress input[type="range"] {
            cursor: pointer;
            color: #49c6ed;
        }
        .plyr__volume input[type="range"] {
            cursor: pointer;
            color: #49c6ed;
        }
        .plyr--video .plyr__control:hover {
            background-color: #49c6ed;
        }
        .bottom-control {
            display: flex;
            margin-left: -6px;
        }
        .top-control {
            bottom: 40px;
            position: absolute;
            width: 98%;
        }
        .plyr__control--overlaid {
            background-color: #49c6ed;
        }
        .bottom-control {
            width: 100%;
        }
        .plyr--fullscreen-enabled [data-plyr="fullscreen"] {
            align-self: flex-start;
            margin-left: auto;
        }
        .plyr__time--current {
            float: left;
        }
        .plyr__time--duration {
            float: right;
        }
        .plyr__progress__buffer {
            top: 31px;
        }
    }
    ::ng-deep {
        .owl-carousel .owl-item img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            height: 190px;
            width: 100%;
        }
        .owl-theme .owl-nav {
            display: none;
        }
        .slide {
            margin-right: 10px;
            border: 4px solid #0b0b0d;
            border-radius: 10px;
            .image {
                position: relative;
                height: 200px;
                img {
                    height: 100%;
                }
                video {
                    display: none;
                    width: 100%;
                    height: 100%;
                }
            }
            .image:hover {
                img {
                    display: none;
                }
                video {
                    display: block;
                }
            }
            .profile-pic {
                padding: 0;
                display: block;
                position: absolute;
                bottom: -18px;
                left: 15px;
                border: 2px solid #1a1a1a;
                border-radius: 100%;
                img {
                    width: 40px;
                    border-radius: 50%;
                    height: 35px;
                }
            }
            .details {
                padding: 25px 20px 20px;
                background: #1a1a1a;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                .head {
                    h3 {
                        font-size: 18px;
                    }
                }
                .name {
                    font-weight: 600;
                    color: #727272;
                    margin-bottom: 5px;
                }
                .more-info {
                    font-size: 14px;
                    span {
                        color: #727272;
                    }
                }
            }
        }
        .slide:hover {
            border-color: #3dbffc;
        }
    }
    .head {
        h3 {
            color: whitesmoke;
        }
    }
}
